.link:hover{
    text-decoration: none;
}
@media (max-width:1600px) and (min-width:1110px){
    .bollywoodContainer{
        margin: auto;
        
    }
    .parent{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:70%;
        margin: auto;
        padding: 5px;
        justify-content: space-between;
        
    }
    .date{
        margin-top: 12px !important;
        font-size: 12px;
        color: #a09999;
    }
    .description{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        font-size: 13px;
        -webkit-box-orient: vertical;
        color:dodgerblue;
    }
    .title{
        color:rgb(91, 89, 89);
    }
    .child{
        width:350px;
        /* height: 500px; */
        padding: 5px;
        margin-top: 10px;
        /* box-shadow: 2px 2px 4px grey; */
    }
    .bimg {
        border-radius: 8px;
        height: 25vh;
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width:1109px) and (min-width:300px){
    .bollywoodContainer{
        margin: auto;
        
    }
    .parent{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width:70%;
        margin: auto;
        padding: 5px;
        justify-content:center;
        
    }
    .date{
        margin-top: 12px !important;
        font-size: 12px;
        color: #a09999;
    }
    .description{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        font-size: 13px;
        -webkit-box-orient: vertical;
        color:dodgerblue;
    }
    .title{
        color:rgb(91, 89, 89);
    }
    .child{
        width:90%;
        /* height: 500px; */
        padding: 5px;
        margin-top: 10px;
        /* box-shadow: 2px 2px 4px grey; */
    }
    .bimg {
        border-radius: 8px;
        height: 25vh;
        width: 200px;
        
        margin-bottom: 20px;
    }
    .inner{
        display: flex;
    }
    .text{
        margin-left:20px;
    }
}