.li:hover{
  text-decoration: none;
  color: black;
}

@media (max-width:1600px) and (min-width:800px){

 
  .head{
    display: flex;
    justify-content: center;
    
  }
  .the{
    font-size: 1.5em;
    margin-top: 70px;
    rotate: -90deg;
    justify-content: center;
    font-weight: 100;
  
  }
  .siren{
    font-size: 3em;
    margin-top: 60px;
    font-weight: bold;
  }
  .li{
    text-decoration: none;
    color: black;
  }
  .navigation-menu ul{
    display:flex;
    justify-content:space-evenly ;
    font-weight: bold;
    margin-top: 10px;
  }
  .navhr{
    width:90%;
    height: 1px;
    background-color: rgb(173, 172, 172);
    color:grey;
  }
  #toggler{
    display: none;
  }
  /* flex */
  .flexrow{
    display: flex;
    flex-direction: row;
    /* width:60%; */
    margin-left: 20px;
    justify-content: center;
   
  }
  .flexcol{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* sports */
  .sportscontainer{
    width:90%;
    background-color: rgb(232, 231, 231);
    display: flex;
    margin:auto;
    justify-content: space-around;
  }
}
@media (max-width:799px) and (min-width:600px){
  .head{
    display: flex;
    /* justify-content: center; */
    
  }
  .navhr{
    width:100%;
    height: 1px;
    background-color: rgb(173, 172, 172);
    color:grey;
  }
  #toggler{
    display: initial;
    position: absolute;
    width: 35px;
    top:30px;
    background-color:transparent;
    border: none;
    color:black;
    right:20px;
    height:35px;
    font-size: 2em;
  }
  .the{
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 20px;
    rotate: -90deg;
    justify-content: center;
    font-weight: 100;
  
  }
  .navigation-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .li{
    display: block;
    margin-bottom:10px;
    /* align-items: center; */
    color:black;
    font-weight: bold;
    font-size: large;
  }
  .siren{
    font-size: 3em;
    margin-top: 10px;
    font-weight: bold;
  }
  /* flex */
  .flexrow{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    justify-content: center;
    margin-left:30px ;
  }
  /* #list{
    display: none;
  } */
  .flexcol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:300px;
    /* margin-top: 30px; */
    margin: auto;
  }
  /* sports */
  .sportscontainer{
    width:90%;
    background-color: rgb(232, 231, 231);
    display: flex;
    margin:auto;
    justify-content: space-around;
  }
 .navbar-toggler {
    display: block;
    font-size: 2.5rem;
  }
  .navigation-menu.expanded{
    display: block;
  }
  .navigation-menu {
    display: none;
  }
  .nav-box{
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  }
}
@media (max-width:599px) and (min-width:300px){
  .head{
    display: flex;
    /* justify-content: center; */
    
  }
  .navhr{
    width:100%;
    height: 2px;
    background-color: rgb(173, 172, 172);
    color:grey;
  }
  .navlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* #list{
    display: none;
  } */
  .li{
    display: block;
    margin-bottom:10px;
    align-items: center;
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
  }
  #toggler{
    display: initial;
    position: absolute;
    width: 35px;
    top:30px;
    background-color:transparent;
    border: none;
    color:black;
    right:20px;
    height:35px;
    font-size: 2em;
  }
  .the{
    font-size: 1.5em;
    margin-top: 20px;
    margin-left: 20px;
    rotate: -90deg;
    justify-content: center;
    font-weight: 100;
  
  }
  .siren{
    font-size: 3em;
    margin-top: 10px;
    font-weight: bold;
  }
  /* flex */
  .flexrow{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    justify-content: center;
    margin-left:30px ;
  }
  .flexcol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:300px;
    /* margin-top: 30px; */
    margin: auto;
  }
  /* sports */
  .sportscontainer{
    width:90%;
    background-color: rgb(232, 231, 231);
    display: flex;
    margin:auto;
    justify-content: space-around;
  }
 
  .navigation-menu.expanded{
    display: block;
  }
  .navigation-menu {
    display: none;
  }
  .nav-box{
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  }

}